[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "LAWalkthrough"]
	path = LAWalkthrough
	url = https://github.com/larryaasen/LAWalkthrough.git
[submodule "ECSlidingViewController"]
	path = ECSlidingViewController
	url = https://github.com/edgecase/ECSlidingViewController.git
